html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Logo de aplicación*/
.logo-navbar {
    display: flex;
    height: 60px; /* Ajusta el tamaño del logo */
    width: auto; /* Mantiene la proporción */
    border-radius: 10%;
    margin: 2%;
}

/*Fondo de pantalla*/
.bg-project {
    background-color: #4b8be9;
}

/*Logo de carrito*/
.logo-cart {
    display: flex;
    height: 40px;
    width: auto;
    border-radius: 10%;
    margin: 2%;
}